* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}   

.contact-form {
    font-family: var(--font-family);
    font-weight: 400;       
    font-size: 75px;
    line-height: 155px;
    color: var(--color-text);
}

.form-container {
    position: relative;
    width: 85%;
    background-color: --gradient-bg;
    border-radius: 10px;
    padding: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: auto;
}

input,
textarea {
    background-color: #1d1836;
    width: 70%;
    margin-top: 1rem; 
    border: 5px solid black; 
    border-radius: 50px; 
    padding: 10px;
    outline: 5px solid #742087; 
    font-size: 50px;
}

input:focus,
textarea:focus {
    border-bottom: 5px solid #742087;
}

.submit-focus-style {
    border: 1px solid white;
    width: 60%;
    color: var(--gradient-text);
    padding: 12px;
    text-align: center;
    background-color: var(--gradient-bg);
    cursor: pointer;
}

.submit:hover {
    opacity: 0.6;
    border: 1px solid #742087;
}

.focus-style:focus {
    outline: none; 
    border: 1px solid #742087; 
    box-shadow: none; 
  }

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .form-container {
        width: 90%;
        left: 5%;
        margin: 0 auto;
    }

    input, textarea {
        width: 100%;
    }
}